*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}
body{
    background-image: url('https://images.unsplash.com/photo-1536147116438-62679a5e01f2?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: repeat;
    /* background: linear-gradient(to right bottom, #c6d1c2, #ccc1d0); */
    min-height: 100vh;
}
.container{
    width: 90vw;
    margin: 0px auto;
}
header{
    width: 85%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 15px auto;
    padding: 20px 15px;
    border-radius: 5px;
}
.input_Wrapper{
    margin-bottom: 15px;
}
::placeholder{
    color: white;
}
input{
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border-top: none; border-left: none; border-right: none;
}
input[type="text"]{
    text-transform: capitalize;
}
.btn_wrapper{
    display: flex; align-items: center; justify-content: center;
}
button{
    padding: 7px 15px;
}
#edit_btn{
    display: none;
}
.API_data_wrapper{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    gap: 30px;
}

.card{
    width: 300px;
    word-wrap: break-word;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(56, 56, 56, 0.638);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.card-img{
    display: flex; justify-content: center;
    margin-bottom: 20px;
}
.card-img img{
    width: 120px;
    border-radius: 50%;
    margin: 20px auto 0px auto!;
}
.card-title{
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
}
.card p{
    margin-bottom: 5px;
}
.card_Btn_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.edit_Btn, .delete_Btn{
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    background-color: lightseagreen;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.edit_Btn:active, .delete_Btn:active{
    scale: 0.95;
}

.delete_Btn{
    background-color: red;
}
@media screen and (min-width: 768px) {
    .input_Wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        
    }
    input{
        width: 45%;
    }
    .API_data_wrapper{
        margin-top: 80px;
    }

}

@media screen and (min-width: 1024px) {
    input{
        width: 30%;
    }

}
